{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="#" class="govuk-back-link" onclick="history.back()">
        Back</a>
      <form action="optional" method="post" novalidate>
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="warmWeatherAnswer">
              Do you like warm weather?
            </label>
          </h1>
          <div id="warmWeatherAnswerHint" class="govuk-hint">
            Write in great detail why you like warm weather.
          </div>
          <textarea class="govuk-textarea" id="warmWeatherAnswer" name="warmWeatherAnswer" rows="12" aria-describedby="warmWeatherAnswerHint">{{data['warmWeatherAnswer']}}</textarea>
        </div>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and complete
        </button>
      </form>
    </div>
  </div>
{% endblock %}
