{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}
<div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="Cookies on [name of service]">
  <div class="govuk-cookie-banner__message govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-cookie-banner__heading govuk-heading-m">
          Cookies on {{ serviceName }}
        </h2>
        <div class="govuk-cookie-banner__content">
          <p class="govuk-body">We use some essential cookies to make this
            service work.</p>
          <p class="govuk-body">We’d also like to use analytics cookies so we
            can understand how you use the service and make improvements.</p>
        </div>
      </div>
    </div>
    <div class="govuk-button-group">
      <button type="button" class="govuk-button" data-module="govuk-button">
        Accept analytics cookies
      </button>
      <button type="button" class="govuk-button" data-module="govuk-button">
        Reject analytics cookies
      </button>
      <a class="govuk-link" href="#">View cookies</a>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="#" class="govuk-back-link">Back</a>
    <form action="index" method="post" novalidate>
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="fullName">
            What is your first name?
          </label>
        </h1>
        <input class="govuk-input" id="fullName" name="fullName" type="text" value="{{data['fullName']}}">
      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Where do you live?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="Bradford"
                {{ checked("whereDoYouLive", "Bradford" ) }}>
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                Bradford
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio"
                value="Glasgow" {{ checked("whereDoYouLive", "Glasgow" ) }}>
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                Glasgow
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio"
                value="New York" {{ checked("whereDoYouLive", "New York" ) }}>
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
                New York
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="Dublin"
                {{ checked("whereDoYouLive", "Dublin" ) }}>
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                Dublin
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-5" name="whereDoYouLive" type="radio" value="Milan"
                {{ checked("whereDoYouLive", "Milan" ) }}>
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-5">
                Milan
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is your favourite colour?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="favouriteColour" name="favouriteColour" type="radio"
                value="Orange">
              <label class="govuk-label govuk-radios__label" for="favouriteColour">
                Orange
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="favouriteColour2" name="favouriteColour" type="radio"
                value="Yellow">
              <label class="govuk-label govuk-radios__label" for="favouriteColour-2">
                Yellow
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="favouriteColour3" name="favouriteColour" type="radio" value="Blue">
              <label class="govuk-label govuk-radios__label" for="favouriteColour-2">
                Blue
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="favouriteColour-4" name="favouriteColour" type="radio"
                value="Brown">
              <label class="govuk-label govuk-radios__label" for="favouriteColour-4">
                Brown
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is your date of birth?
            </h1>
          </legend>
          <div id="passport-issued-hint" class="govuk-hint">
            For example, 27 3 2007
          </div>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date_of_birth_day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date_of_birth_day"
                  name="date_of_birth_day" type="text" inputmode="numeric" value="{{data['date_of_birth_day']}}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date_of_birth_month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date_of_birth_month"
                  name="date_of_birth_month" type="text" inputmode="numeric" value="{{data['date_of_birth_month']}}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date_of_birth_year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date_of_birth_year"
                  name="date_of_birth_year" type="text" inputmode="numeric" value="{{data['date_of_birth_year']}}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>
  </div>
</div>
{% endblock %}
