{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <a href="/4/index" class="govuk-link">View prototype version 4</a>
    </p>
    <p class="govuk-body">
      <a href="/3/what_ice_cream_do_you_like?fullName=Dawn" class="govuk-link">
        View prototype version 3 with the name Dawn saved</a>
    </p>
    <p class="govuk-body">
      <a href="/3/index" class="govuk-link">View prototype version 3</a>
    </p>
    <p class="govuk-body">
      <a href="/2/index" class="govuk-link">View prototype version 2</a>
    </p>
      <p class="govuk-body">
        <a href="/1/index" class="govuk-link">View prototype version 1</a>
      </p>
    </div>
</div>
{% endblock %}
